<nav>
  <h1>Welcome</h1>
  <a href="/">About</a></li>
  <a href="/">Blog</a></li>
  <a href="/">Anti-Racist Resources</a></li>
    {% if site.data.theme.social.gravatar %}
    <img src="MSH_2020.jpg" width="200" height="150" alt="My photo"/>
    {% else %}
    <img src="MSH_2020.jpg" width="200" height="150" alt="My photo"/>
    {% endif %}
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>Tender queer, climber, overthinker, woc, maker, 100% human
    </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
