---
layout: default
---
<article class="page">
  
<a href="https://theLifeofY.github.io">o.o</a></li>  
&nbsp; &nbsp;  
<a href="https://theLifeofY.github.io/_posts">Posts</a></li>  
&nbsp; &nbsp;
<a href="https://thelifeofy.github.io/resources">Resources</a></li> 
&nbsp; &nbsp;
<a href="https://thelifeofy.github.io/resources">Resources</a></li> 
<p></p>
  <header class="page-header">
    <h1 class="page-title">{{ page.title | escape }}</h1>
  </header>

  <div class="page-content">
    {{ content }}
  </div>

</article>
